@model Employee;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit employee info</h1>

<form asp-action="Edit" method="post">
    <div class="form-horizontal">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" name="Name" id="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Department" class="control-label"></label>
            <input asp-for="Department" Name="Department" id="Department" class="form-control" />
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Salary" class="control-label"></label>
            <input asp-for="Salary" type="number" Name="Salary" id="Salary" class="form-control" required />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary"> Edit </button> 
        </div>
        <br />
        <div class="form-group">
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>

</form>

